<!-- This is the HTML structrue of book card.
     Used in Search results, homepage, bookshelf detail pages-->

<a th:href="@{/bookdetail(id=${book.bookId})}" class="detail-link">
    <div class="book-card">
        <div class="card-thumbnail-holder">
            <div class="thumbnail-m">
                <div class="thumbnail-image-m" th:style="'background-image: url(' + ${book.thumbnail} + ');'">
                </div>
            </div>
        </div>
    </div>
    <div class="card-description">
        <ul class="card-description-li">
            <li class="card-title" th:text="${book.title}">Book Title</li>
            <li class="card-rate" th:text="'Avg ★ ' + ${book.averageRating}">Rated ★ 0.0</li>
        </ul>
    </div>
</a>
