<!-- This is HTML structure of the bookshelf card.
 Used in search results, homepage, book detail pages-->
<li class="collection-li">
 <a class="collection-detail-link"> <!-- link to the bookshelf detail page-->
    <div class="collection-card">
        <div class="collection-thumbnail-holder">
            <div class="thumbnail-s ts0">
                <div class="thumbnail-image-s">img</div>
            </div>
            <div class="thumbnail-s ts1">
                <div class="thumbnail-image-s">img</div>
            </div>
            <div class="thumbnail-s ts2">
                <div class="thumbnail-image-s">img</div>
            </div>
            <div class="thumbnail-s ts3">
                <div class="thumbnail-image-s">img</div>
            </div>
            <div class="thumbnail-s ts4">
                <div class="thumbnail-image-s">img</div>
            </div>
        </div>
    </div>
    <div class="card-description">
        <ul class="card-description-li">
            <li class="collection-title">Collection Title</li>
            <li class="card-numOfBooks">00 books</li>
            <span class="card-lock">🔒</span>
        </ul>
    </div>
</a>
</li>