<a>
    <div class="collection-card">
        <div class="card-thumbnail-holder">
            <div class="thumbnail-s">
                <div class="thumbnail-image-s">img</div>
            </div>
            <div class="thumbnail-s">
                <div class="thumbnail-image-s">img</div>
            </div>
            <div class="thumbnail-s">
                <div class="thumbnail-image-s">img</div>
            </div>
            <div class="thumbnail-s">
                <div class="thumbnail-image-s">img</div>
            </div>
        </div>
    </div>
    <div class="card-description">
        <ul class="card-description-li">
            <li class="card-title">Collection Title</li>
            <li class="card-numOfBooks">00 books</li>
        </ul>
    </div>
</a>