<div class="comment-card">
    <div class="comment-text-holder">
        <p>
            “This book is GOAT..blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah ”
        </p>
    </div>
    <div class="comment-info-holder">
        <div class="comment-profile-img">
            <img src="/images/defaultProfile.png" alt="User Icon" class="user-icon comment-profile-img" id="user-icon" />
        </div>
        <div class="comment-userinfo">
            <div>USERNAME</div>
            <div class="card-rate">★3.5</div>
        </div>
    </div>
</div>