
<header class="homepage-header" th:fragment="header">
    <!--Header section of the homepage-->
    <!--Automatically redirects to login page, unless logged in-->
    <div class="homepage-header-left">
        <!--Logo button that redirects to the homepage, whenever clicked.-->
        <a href="/homepage" class="logo-button">PAGEPALS</a>
        <!--Button that goes to the book club section when clicked-->
        <a href="/bookclubs" class="nav-link">Bookclubs</a>
        <!--Button that goes to the "my records" section when clicked-->
        <a href="/myrecord" class="nav-link">My Record</a>
    </div>
    <div class="homepage-header-right">
        <!--Search bar paired with search button beside it, currently just a placeholder-->
        <div class="search-bar">
            <input type="search" placeholder="Search" class="search-field" />
            <a href="/search">
            <button class="search-button">Search</button>
        </a>
        </div>
        <!--Username display with icon next to it, when Icon is clicked, has a dropdown menu-->
        <div class="user-info" th:inline="text">
            <span class="greeting-msg"th:text="|Hello, ${loggedinUser} |"></span>
            <!--used a default profile image for display purpose-->
            <img src="/images/defaultProfile.png" alt="User Icon" class="user-icon" id="user-icon" />
            <div class="dropdown-menu" id="dropdown-menu">
                <!--link to the account setting page-->
                <a href="/myaccount" class="dropdown-menu-list">My account</a>
                <!--link to profile setting page-->
                <a href="/profilesetting" class="dropdown-menu-list">Profile</a>
                <a href ="/admin/users" sec:authorize="${hasRole('ROLE_ADMIN')}" class="dropdown-menu-list"> User List</a>
                <!--"link" to submit form with csrf token and log out-->
                <form th:action="@{/logout}" method="post">
                    <a href="#" class="dropdown-menu-list" onclick="this.closest('form').submit();return false;">Log out</a>
                </form>
            </div>
        </div>
    </div>
</header>
