<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PagePals</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <link rel="stylesheet" href="/stylesheet/bookclubdetail.css" />
    <link rel="stylesheet" href="/stylesheet/card.css" />
    <link rel="stylesheet" href="/stylesheet/homepage.css" />
    <link href='https://fonts.googleapis.com/css?family=Koulen' rel='stylesheet'>
</head>

<body class="main-body">
    <!--Header section of the homepage-->
    <div th:replace="~{fragments/header.html}"></div>
    <!--bookclub landing page starts here-->
    <div class="content-container">
        <!--section 1: calendar, members, chatroom-->
        <hr class="solid divider-line">
        <div class="bookclubdetail-section1">
            <!--left side of section 1-->
            <div class="section1-left">
                <!--Event calendar-->
                <div class="calendar-wrap">
                    <div class="calendar-container">
                        <div class="calendar-header">
                            <button id="prev-btn">Prev</button>
                            <div id="month-year"></div>
                            <button id="next-btn">Next</button>
                        </div>
                        <div class="calendar-body">
                            <div class="calendar-days">
                                <div>S</div>
                                <div>M</div>
                                <div>T</div>
                                <div>W</div>
                                <div>T</div>
                                <div>F</div>
                                <div>S</div>
                            </div>
                            <div class="calendar-dates" id="calendar-dates">
                                <!-- Dates will be generated here -->
                            </div>
                        </div>
                    </div>
                </div>
                <!--memebers-->
                <div>
                    <h4>members</h4>
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
            <!--chatroom-->
            <div>

            </div>
        </div>
        <hr class="solid divider-line">
        <!--section 2-->
        <div class="bookshelf-container">
            <div class="bookshelf-rack">
                <ul class="cardlist">
                    <li class="card-li">
                        <!-- display purpose-->
                        <a class="detail-link">
                            <div class="book-card">
                                <div class="card-thumbnail-holder">
                                    <div class="thumbnail-m">
                                        <div class="thumbnail-image-m"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-description">
                                <ul class="card-description-li">
                                    <li class="card-title">Book Title</li>
                                    <li class="card-rate">Rated ★ 0.0</li>
                                    <!-- Only Books in the books read displays 'Rated ★ 0.0'. 
                                 others displays 'Avg ★ 0.0' -->
                                </ul>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <footer th:replace="~{fragments/footer.html}"></footer>
    </div>
    <script src="/javascript/dropDown.js"></script>
    <script src="/javascript/calendar.js"></script>
</body>

</html>