<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PagePals: Book Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <link rel="stylesheet" href="/stylesheet/bookdetail.css" />
    <link rel="stylesheet" href="/stylesheet/card.css" />

    <link href='https://fonts.googleapis.com/css?family=Koulen' rel='stylesheet'>
</head>

<body class="main-body">
    <!--Header section of the homepage-->
    <div th:replace="~{fragments/header.html}"></div>
    <div class="content-container">
        <div id="bookdetail-container">
            <div class="detail-leftside">
                <div>
                    <div class="cover-holder">book cover img</div>
                </div>
                <div class="bookinfo">
                    <div>Title</div>
                    <div>Author</div>
                    <div>Date Published</div>
                    <div>Publisher</div>
                    <div>ISBN</div>
                    <div>Tags</div>
                </div>
            </div>
            <div>
                <div class="detail-header">
                    <div>
                        <div class="starpoint_wrap">
                            <div class="starpoint_box">
                                <label for="starpoint_1" class="label_star" title="0.5"><span
                                        class="blind">0.5</span></label>
                                <label for="starpoint_2" class="label_star" title="1"><span
                                        class="blind">1</span></label>
                                <label for="starpoint_3" class="label_star" title="1.5"><span
                                        class="blind">1.5</span></label>
                                <label for="starpoint_4" class="label_star" title="2"><span
                                        class="blind">2</span></label>
                                <label for="starpoint_5" class="label_star" title="2.5"><span
                                        class="blind">2.5</span></label>
                                <label for="starpoint_6" class="label_star" title="3"><span
                                        class="blind">3</span></label>
                                <label for="starpoint_7" class="label_star" title="3.5"><span
                                        class="blind">3.5</span></label>
                                <label for="starpoint_8" class="label_star" title="4"><span
                                        class="blind">4</span></label>
                                <label for="starpoint_9" class="label_star" title="4.5"><span
                                        class="blind">4.5</span></label>
                                <label for="starpoint_10" class="label_star" title="5"><span
                                        class="blind">5</span></label>
                                <input type="radio" name="starpoint" id="starpoint_1" class="star_radio">
                                <input type="radio" name="starpoint" id="starpoint_2" class="star_radio">
                                <input type="radio" name="starpoint" id="starpoint_3" class="star_radio">
                                <input type="radio" name="starpoint" id="starpoint_4" class="star_radio">
                                <input type="radio" name="starpoint" id="starpoint_5" class="star_radio">
                                <input type="radio" name="starpoint" id="starpoint_6" class="star_radio">
                                <input type="radio" name="starpoint" id="starpoint_7" class="star_radio">
                                <input type="radio" name="starpoint" id="starpoint_8" class="star_radio">
                                <input type="radio" name="starpoint" id="starpoint_9" class="star_radio">
                                <input type="radio" name="starpoint" id="starpoint_10" class="star_radio">
                                <span class="starpoint_bg"></span>
                            </div>
                        </div>
                        <div class="func-description">Rate</div>
                    </div>

                    <div class="detail-icons first">
                        <div class="detail-icons addbooksread">
                            <button class="detail-icons-btn" type="button">
                                <img src="/images/addbooksread.png" class="detail-header-icon">
                                Read
                            </button>
                        </div>
                    </div>
                    <div class="detail-icons">
                        <button class="detail-icons-btn"  type="button">
                            <img src="/images/addreading.png" class="detail-header-icon">
                        Reading
                        </button>
                    </div>
                    <div class="detail-icons">
                        <button class="detail-icons-btn" type="button">
                            <img src="/images/writecomment.png" class="detail-header-icon">
                       Comment
                        </button>

                    </div>
                    <div class="detail-icons addcollection">
                        <button class="detail-icons-btn" type="button">
                            <img src="/images/addcollection.png" class="detail-header-icon">
                        Collections
                        </button>
                    </div>
                </div>
                <hr class="solid" id="divider-line">
                <div>
                    <h4>Book Description</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel neque ac ante lobortis interdum
                        sed ut eros. Duis in felis tortor. Fusce elementum urna vitae consequat gravida. Ut justo arcu,
                        congue ac est et, lobortis efficitur metus. Nam viverra lorem eget varius interdum. Mauris
                        luctus ornare pellentesque. Nullam mollis consectetur consequat. Vivamus at nisi nec eros luctus
                        elementum. Integer venenatis iaculis volutpat. In scelerisque pulvinar augue, vel tempor mauris
                        viverra non. Pellentesque faucibus dolor vel elit consectetur, nec cursus ligula vestibulum.</p>
                </div>
                <hr class="solid" id="divider-line">
                <div>
                    <h4>Author Description</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel neque ac ante lobortis interdum
                        sed ut eros. Duis in felis tortor. Fusce elementum urna vitae consequat gravida. Ut justo arcu,
                        congue ac est et, lobortis efficitur metus. Nam viverra lorem eget varius interdum. Mauris
                        luctus ornare pellentesque. Nullam mollis consectetur consequat. Vivamus at nisi nec eros luctus
                        elementum. Integer venenatis iaculis volutpat. In scelerisque pulvinar augue, vel tempor mauris
                        viverra non. Pellentesque faucibus dolor vel elit consectetur, nec cursus ligula vestibulum.</p>
                </div>
                <hr class="solid" id="divider-line">
                <div>
                    <h4>Comments</h4>
                    <div>
                        <ul class="cardlist">
                            <div th:replace="~{fragments/commentcard.html}"></div>
                        </ul>
                    </div>
                </div>
                <hr class="solid" id="divider-line">
                <div>
                    <h4>Collections</h4>
                    <div>
                        <ul class="cardlist">
                            <div th:replace="~{fragments/collectioncard.html}"></div>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
<div>
    <footer th:replace="~{fragments/footer.html}"></footer>
</div>
<script src="/javascript/dropDown.js"></script>

</html>