<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PagePals: Book Detail</title>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel="stylesheet" href="/stylesheet/bookdetail.css">
    <link rel="stylesheet" href="/stylesheet/card.css">
    <link href='https://fonts.googleapis.com/css?family=Koulen' rel='stylesheet'>
</head>

<body class="main-body">
    <!--Header section of the homepage-->
    <div th:replace="~{fragments/header.html}"></div>
    <div class="content-container">
        <div id="bookdetail-container">
            <div class="detail-leftside">
                <div>
                    <div class="cover-holder">
                        <div id="book-thumbnail" alt="Book Thumbnail"></div>
                    </div>
                </div>
                <div class="bookinfo">
                    <div id="book-title">Title</div>
                    <div id="book-author">Author</div>
                    <div id="book-publishedDate">Date Published</div>
                    <div id="book-publisher">Publisher</div>
                    <div id="book-isbn">ISBN</div>
                    <div id="book-category">🏷️</div>
                </div>
            </div>
            <div>
                <div class="detail-header">
                    <div>
                        <div class="starpoint_wrap">
                            <div class="starpoint_box">
                                <label for="starpoint_1" class="label_star" title="0.5"><span
                                        class="blind">0.5</span></label>
                                <label for="starpoint_2" class="label_star" title="1"><span
                                        class="blind">1</span></label>
                                <label for="starpoint_3" class="label_star" title="1.5"><span
                                        class="blind">1.5</span></label>
                                <label for="starpoint_4" class="label_star" title="2"><span
                                        class="blind">2</span></label>
                                <label for="starpoint_5" class="label_star" title="2.5"><span
                                        class="blind">2.5</span></label>
                                <label for="starpoint_6" class="label_star" title="3"><span
                                        class="blind">3</span></label>
                                <label for="starpoint_7" class="label_star" title="3.5"><span
                                        class="blind">3.5</span></label>
                                <label for="starpoint_8" class="label_star" title="4"><span
                                        class="blind">4</span></label>
                                <label for="starpoint_9" class="label_star" title="4.5"><span
                                        class="blind">4.5</span></label>
                                <label for="starpoint_10" class="label_star" title="5"><span
                                        class="blind">5</span></label>
                                <input type="radio" name="starpoint" id="starpoint_1" class="star_radio">
                                <input type="radio" name="starpoint" id="starpoint_2" class="star_radio">
                                <input type="radio" name="starpoint" id="starpoint_3" class="star_radio">
                                <input type="radio" name="starpoint" id="starpoint_4" class="star_radio">
                                <input type="radio" name="starpoint" id="starpoint_5" class="star_radio">
                                <input type="radio" name="starpoint" id="starpoint_6" class="star_radio">
                                <input type="radio" name="starpoint" id="starpoint_7" class="star_radio">
                                <input type="radio" name="starpoint" id="starpoint_8" class="star_radio">
                                <input type="radio" name="starpoint" id="starpoint_9" class="star_radio">
                                <input type="radio" name="starpoint" id="starpoint_10" class="star_radio">
                                <span class="starpoint_bg"></span>
                            </div>
                        </div>
                        <div class="func-description">
                            Avg ★ <span id="book-avgRate"></span>
                        </div>
                    </div>
                    <div class="detail-icons first">
                        <!-- grab the users bookshelves only -->
                        <option id="readSelect" style="display: none;" th:each="bookshelf : ${bookshelves}"
                            th:if="${bookshelf.name == 'Books-Read'}"
                            th:value="${bookshelf.id}">
                        </option>
                        <div class="detail-icons addbooksread">
                            <button class="detail-icons-btn" type="button"
                            th:data-bookid="${book.googleBookId}">
                                <img src="/images/addbooksread.png" class="detail-header-icon" id="add-to-books-read">
                                Read
                            </button>
                        </div>
                    </div>
                    <div class="detail-icons">
                        <!-- grab the users bookshelves only -->
                        <option id="readingSelect" style="display: none;" th:each="bookshelf : ${bookshelves}"
                            th:if="${bookshelf.name == 'Books-Reading'}"
                            th:value="${bookshelf.id}">
                        </option>
                        <button class="detail-icons-btn" type="button"
                            th:data-bookid="${book.googleBookId}">
                            <img src="/images/addreading.png" class="detail-header-icon" id="add-to-books-reading">
                            Reading
                        </button>
                    </div>
                    <div class="detail-icons">
                        <!-- grab the users bookshelves only -->
                        <option id="toReadSelect" style="display: none;" th:each="bookshelf : ${bookshelves}"
                            th:if="${bookshelf.name == 'Books-to-Read'}"
                            th:value="${bookshelf.id}">
                        </option>
                        <button class="detail-icons-btn" type="button"
                            th:data-bookid="${book.googleBookId}">
                            <img src="/images/addtoread.png" class="detail-header-icon" id="add-to-books-to-read">
                            <span>To&nbsp;Read</span>
                        </button>
                    </div>
                    <div class="detail-icons">
                        <button class="detail-icons-btn" type="button">
                            <img src="/images/writecomment.png" class="detail-header-icon">
                            Comment
                        </button>
                    </div>
                    <div class="detail-icons addcollection">
                        <button class="detail-icons-btn" type="button" data-bs-toggle="modal"
                            data-bs-target="#bookshelfModal" id="add-to-collection-btn"
                            th:data-bookid="${book.googleBookId}">
                            <img src="/images/addcollection.png" class="detail-header-icon">
                            Collections
                        </button>
                    </div>
                </div>
                <hr class="solid" id="divider-line">
                <div>
                    <h4>About The Book</h4>
                    <p id="book-description">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit.</p>
                </div>
                <hr class="solid" id="divider-line">
                <div>
                    <h4>About The Author</h4>
                    <p id="book-authorDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <hr class="solid divider-line">
                <div>
                    <h4>Comments</h4>
                    <div>
                        <ul class="cardlist">
                            <div th:replace="~{fragments/commentcard.html}"></div>
                        </ul>
                    </div>
                </div>
                <hr class="solid" id="divider-line">
                <div>
                    <h4>Collections</h4>
                    <div>
                        <ul class="cardlist">
                            <div th:replace="~{fragments/collectioncard.html}"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<div>
    <footer th:replace="~{fragments/footer.html}"></footer>
</div>

<!-- Modal for selecting Bookshelf -->
<div class="modal fade" id="bookshelfModal" tabindex="-1" aria-labelledby="bookshelfModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookshelfModalLabel">Add to Bookshelf</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select id="bookshelfSelect" class="form-select">
                    <option th:each="bookshelf : ${bookshelves}" th:value="${bookshelf.id}" th:text="${bookshelf.name}">
                        Bookshelf Name
                    </option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addBookToBookshelf()">Add to Collection</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/javascript/dropDown.js"></script>
<script src="/javascript/bookdetail.js"></script>

</html>