<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PagePals</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link href='https://fonts.googleapis.com/css?family=Koulen' rel='stylesheet'>
</head>

<body class="main-body">
    <!--header-->
    <div th:replace="fragments/header::header"></div>
    
    <!--content starts here-->
    <div class="content-container">
        <!--numbers are for display purpose, need to represent actual data later-->
        <div class="short-record">
            <div class="short-record-column">
                <!--Total number of books the user read-->
                <span class="short-record-number">00</span>
                <span class="short-record-label">Read<span>
            </div>
            <div class="short-record-column">
                <!--Total number of books the user is currently reading-->
                <span class="short-record-number">00</span>
                <span class="short-record-label">Reading</span>
            </div>
            <div class="short-record-column">
                <!--Number of collections the user made-->
                <span class="short-record-number">00</span>
                <span class="short-record-label">Collection</span>
            </div>
        </div>
        <hr class="solid" id="divider-line">
        <!--personalized bookshelf-->
        <div class="bookshelf">
            <!--5 books are displayed for each line-->
            <div class="bookshelf-rack">
                <div class="book-info-card">
                    <img src="#" alt="bookcover-image" class="bookcover-image">
                    <span>Book Title</span>
                    <span>John Doe</span>
                </div>
                <div class="book-info-card">
                    <img src="#" alt="bookcover-image" class="bookcover-image">
                    <span>Book Title</span>
                    <span>John Doe</span>
                </div>
                <div class="book-info-card">
                    <img src="#" alt="bookcover-image" class="bookcover-image">
                    <span>Book Title</span>
                    <span>John Doe</span>
                </div>
                <div class="book-info-card">
                    <img src="#" alt="bookcover-image" class="bookcover-image">
                    <span>Book Title</span>
                    <span>John Doe</span>
                </div>
                <div class="book-info-card">
                    <img src="#" alt="bookcover-image" class="bookcover-image">
                    <span>Book Title</span>
                    <span>John Doe</span>
                </div>
                <div class="book-info-card">
                    <img src="#" alt="bookcover-image" class="bookcover-image">
                    <span>Book Title</span>
                    <span>John Doe</span>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascript/dropDown.js"></script>
</body>

</html>