<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PagePals</title>
    <link rel="stylesheet" href="./style.css">
    <link href='https://fonts.googleapis.com/css?family=Koulen' rel='stylesheet'>
</head>
<body>
    <div class="loginpage-wrapper">
        <div class="loginpage-wrapper-left">
            <h1 id="logo">PagePals</h1>
            <p>Lorem ipsum dolor sit<br>amet consectetur adipisicing elit.</p>
        </div>
        <div class="loginpage-wrapper-right">
            <div class="login-signup">
                <header>
                    <a href="/login" class="login">Login</a>
                    <a href="/signup" class="signup">Sign Up</a>
                </header>
                <div class="form-wrapper">
                    <form th:action="/user" >
                        <div class="input-username">
                            <label for="username">ID</label>
                            <input type="text" id="username" name="name" placeholder="ID">
                        </div>
                        <div class="input-password">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password"  placeholder="Password">
                        </div>
                        <button type="submit" id="login-btn">Login</button>
                        <a id="forgot-password">Forgot Password?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>