<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PagePals: Profile Setting</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <link rel="stylesheet" href="/stylesheet/profilesetting.css" />
    <link href='https://fonts.googleapis.com/css?family=Koulen' rel='stylesheet'>
</head>

<body class="main-body">
    <!--Header section of the homepage-->
    <div th:replace="~{fragments/header.html}"></div>
    <div class="content-container">
        <div id="heading">
            <h1>Profile Setting</h1>
        </div>
        <hr class="solid">
        <form action="/update-profile" method="POST" th:action="@{/update-profile}" th:object="${user}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="hidden" th:field="*{id}" />
            <div class="user-icon-container">
                <!-- Default profile image -->
                <img th:src="${user.getProfilePhoto()}" alt="User Icon" class="profile-user-icon"
                    id="profile-user-icon" />
                <select id="profilePhoto" name="profilePhoto" class="form-control" required>
                    <option value="/images/defaultProfile.png"
                        th:selected="${user.profilePhoto == '/images/defaultProfile.png'}">Default Profile</option>
                    <option value="/images/flowers.jpg" th:selected="${user.profilePhoto == '/images/flowers.jpg'}">
                        Profile 1 - Sunflowers</option>
                    <option value="/images/shapes.jpg" th:selected="${user.profilePhoto == '/images/shapes.jpg'}">
                        Profile 2 - Shapes</option>
                    <option value="/images/globe.jpg" th:selected="${user.profilePhoto == '/images/globe.jpg'}">Profile
                        3 - Globe</option>
                </select>
            </div>
            <div>
                <label for="bio" class="form-label">Bio</label>
                <input type="text" class="form-control" id="bio" th:field="${user.bio}" required>
            </div>
            <button class="changes-btn" type="submit">UPDATE</button>
        </form>
    </div>
    </div>
    <div>
        <footer th:replace="~{fragments/footer.html}"></footer>
    </div>
    <script src="/javascript/dropDown.js"></script>
</body>

</html>