<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PagePals: Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheet/login-signup.css">
        <link rel="stylesheet" href="/stylesheet/style.css">
    <link href='https://fonts.googleapis.com/css?family=Koulen' rel='stylesheet'>
</head>
<body>
    <div class="loginpage-wrapper">
        <!--left side of signup page-->
        <div class="loginpage-wrapper-left">
            <h1 class="logo">PagePals</h1>
            <p>Lorem ipsum dolor sit<br>amet consectetur adipisicing elit.</p>
        </div>
        <!--right side of signup page-->
        <div class="loginpage-wrapper-right">
            <!--navigate to login/signup-->
            <div class="login-signup">
                <header class="login-header">
                    <a href="/login" class="login">Login</a>
                    <a href="/signup" class="signup">Sign Up</a>
                </header>
                <!--sign up form-->
                <div class="form-wrapper">
                    <form id="signupform" action="#" th:action="@{/signup}" th:object="${signupform}" method="post"
                        class="login-form" novalidate>
                        <div class="input-username">
                            <label for="username" class="form-label">ID</label>
                            <input type="text" id="username" th:field="*{username}"
                                placeholder="ID" pattern="^\w+$" required>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="input-password">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" id="password" th:field="*{password}"
                                placeholder="Password" pattern="^(?=.*[0-9])(?=.*[A-Z]).{8,}$" required>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <!--if successfully signed up, redirect to login page-->
                        <button type="submit" class="login-btn">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/javascript/signupValidation.js}"></script>
</body>
</html>