/* Style for collection/book cards*/
ul.cardlist {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2%;
    padding:0 3px;
}
#collection-cardlist {
    gap:0;
    padding:0;
    row-gap: 10px;
}

li.card-li, .collection-li {
    display: flex;
    width: 15%;
    align-items: center;
}
.collection-li {
    min-width: 200px;
    width:25%;
    padding: 0 5px;
}

.collection-card, .book-card {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: calc(100%*(294 / 210));
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
}

.collection-card {
    padding-bottom: calc(100%*(3 / 6));
    display: flex;
}

.collections-header {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.card-thumbnail-holder {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.collection-thumbnail-holder {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    isolation: isolate;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    justify-content:space-between;
    background-color: transparent;

}
.collection-thumbnail-holder::after {
    clear: left;    
    display: table;
    order: 0;
}
/* for thumbnails in collection cards*/
.thumbnail-s {
    display: flex;
    width: 30%;
    height: 100%;
    box-shadow: 4px 0px 3px rgba(0, 0, 0, 0.25);
    float: left;
    margin-right: -20%;
    position: relative;
    border-radius: 4px;
}
.ts0 {
    order:0;
    z-index:4;
}
.ts1 {
    order:1;
    z-index:3;
    left:-5%;
}
.ts2 {
    order:2;
    z-index:2;
    left:-10%;
}
.ts3 {
    order:3;
    z-index:1;
    left:-15%;
}
.ts4 {
    order:4;
    z-index:0;
    left:-20%;
}

/* for thumbnails in book cards*/
.thumbnail-m {
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow: hidden;
}

/* for thumbnails in collection cards*/
.thumbnail-image-s {
    width: 100%;
    height: 100%;
    background-color: #d2d2d2;
    border-radius: 4px;
}

/* for thumbnails in book cards*/
.thumbnail-image-m {
    width: 100%;
    height: 100%;
    background-color: #d2d2d2;
    border-radius: 4px;
    overflow: hidden;
}

img.thumbnail-image-m {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-description {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul.card-description-li {
    min-height: 60px;
    margin: 5px 10px 0 0;
    list-style-type: none;
    line-height: 20px;
    padding: 0;
}

.card-title, .collection-title {
    font-weight: 500;
    font-size: 16px;
    color: #414141;
}

.card-numOfBooks, .card-secret {
    color: #8c8c8c;
}
.card-rate {
    color: rgb(174, 121, 41);
    font-weight: 300;
}

.comment-card {
    display: grid;
    grid-template-rows: 3fr 1fr;
    background-color: #ffffff;
    border-radius: 5px;
    width: 300px;
    height: 250px;
    padding: 10px;
    gap: 10px;
}

.comment-profile-img {
    height: 40px;
  width: 40px;
  border-radius: 50%;
}

p {
    color: #414141;
}
.comment-text-holder {
    background-color: #f0f0f0e8;
    padding: 5px;
    margin: 3px;
    border-radius: 10px;
}

.comment-info-holder {
    display: flex;
    gap: 10px;
}

.collection-detail-link {
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
