/*Style for homepage*/

/* Style for content container*/
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 80%;
    gap: 10px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.3);
    padding: 10px;
}
/* Short record display section*/
.short-record {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%
}
.short-record-column {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    
}
.short-record-number, .short-record-label {
    display: block;
    width:100%;
    text-align: center;
}

#divider-line {
    border: 1px solid #00000055;
    width: 100%;
}
.bookshelf {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    
}
.bookshelf-rack {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    
    height: 200;
    flex-wrap: wrap;
}

h3 {
    text-align: left;
    width: 90%;
}