/* login page */
.loginpage-wrapper {
    display: grid;
    overflow-y: hidden;
    align-items: center;
    padding: 0px;
    height: 100%;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    gap: 0;

}

/* wrapper for the left side of login and signup pages */
.loginpage-wrapper-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    margin: 0;
    flex: none;
    order: 0;
    height: 100%;

}

/* wrapper for the right side of login and signup pages */
.loginpage-wrapper-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: none;
    height: 100%;

}

/* logo style*/
.logo {
    width: auto;
    height: auto;
    font-family: 'Koulen';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 116px;
    display: block;
    align-items: center;
    text-align: center;

    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
}

/*Web app description style*/
p {
    font-family: 'Koulen';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 43px;
    display: block;
    align-items: center;
    text-align: center;
    margin: 0;

    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* login/signup form wrapper*/
.login-signup {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 80%;
    height: 80%;
}

/* login/signup form wrapper header*/
.login-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 0px;
    order: 0;
    align-self: stretch;
}

/* link for login and signup */
a.login,
a.signup {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: block;
    align-items: center;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

a.login:hover,
a.signup:hover {
    text-decoration: underline;
    text-decoration-color: #C5796D;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}

/* login form style */
.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 10%;
    width: 100%;
    height: 100%;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

/*login/signup input wrapper*/
.input-username,
.input-password,
.input-email {
    display: block;
    width: 100%;
    height: fit-content;
}

label {
    color: #828282;
}

/* login and signup input fields*/
input[type="text"],
input[type="password"],
input[type="email"] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 8px;
    width: 100%;
    height: fit-content;
    border: none;
    border-radius: 20px;
}

/*login button style*/
.login-btn {
    width: 100%;
    padding: 10px;
    background: #C5796D;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border-style: none;
}

.login-btn:hover {
    background: #895148;
}

#forgot-password {
    color: #C5796D;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    align-content: end;
}

.forgotpwd-message {
    font-family: 'Inter';
    text-align: start;
    font-size: 20px;
    line-height: normal;
}