
#userDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;
}
/* overwriting p in style, for left alignment */
p {
    font-family: 'Koulen';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 43px;
    display: block;
    align-items: center;
    text-align: left;
    margin: 0;

    color: #555555;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.accountDetails,
.editForm {
    min-width: 80%;
    max-width: 80%;
    margin: 0 auto;
    /* Center the container horizontally */
    display: flex;
    flex-direction: column;
    padding: 3%;
}
.accountDetails, #formcontainer {
    border-radius: 30px;
    background-color: #ffffffe3;
}

#bioDisplay,
#usernameDisplay,
#passwordDisplay {
    font-family: Calibri;
}

#bioDisplay {
    width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    text-align: left;
    line-height: 1.5;
    box-sizing: border-box;
    height: auto;
    /* Allow height to adjust based on content */
}

#usernameDisplay,
#passwordDisplay {
    width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    text-align: left;
    /* Ensure text alignment */
    line-height: 1.5;
    /* Adjust line height for readability */
    box-sizing: border-box;
    height: auto;
}

#manageAccountDisplay {
    box-sizing: border-box;
    /* Include padding and border in the element's total width */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vh;
    /* Set distance from the bottom of the box */
    min-width: 90%;
    max-width: 90%;
    margin-top: auto;
    /* Push to the bottom */
}


#manageAccountDisplay h2,
form,
a {
    text-align: left;
}

/* for spacing in between the labels and input boxes */
#newBio, #newUsername, #newEmail{
    margin-top: 2%;
}

/* copied from login and signup input fields */
#newBio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 8px;
    width: 100%;
    border: none;
    border-radius: 20px;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    max-height: none;
    height: 40vh;
}

#newUsername, #newEmail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 8px;
    width: 100%;
    height: fit-content;
    border: none;
    border-radius: 20px;
}

#newBio::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

#newBio:focus {
    overflow-y: auto;
    /* Activate vertical scrollbar when textarea is focused */
}

#newBio:hover {
    overflow-y: auto;
    /* Activate vertical scrollbar when textarea is hovered over */
}
#deleteForm {
    height: fit-content;
}

/*Some copied from login button style*/
.delete-btn, .logout-btn {
    width: auto;
    /* Let the button width adjust based on content */
    min-width: 120px;
    /* Minimum width to ensure button is readable */
    padding: 10px 20px;
    /* Adjust padding for adequate space around text */
    background: #f55941;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    border: none;
    /* Remove border */
    cursor: pointer;
    /* Show pointer cursor on hover */
    display: inline-flex;
    /* Ensure button expands only as needed */
    align-items: center;
    justify-content: center;
}

.delete-btn:hover {
    background: #c63b26;
}

.logout-btn {
    background: #d27474;
    color: #FFFFFF;
    text-decoration: none;
}

.changes-btn {
    width: auto;
    /* Let the button width adjust based on content */
    min-width: 120px;
    /* Minimum width to ensure button is readable */
    padding: 10px 20px;
    /* Adjust padding for adequate space around text */
    background: #C5796D;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    border: none;
    /* Remove border */
    cursor: pointer;
    /* Show pointer cursor on hover */
    display: inline-flex;
    /* Ensure button expands only as needed */
    align-items: center;
    justify-content: center;
}

.logout-btn {
    min-width: 138px;
}

.changes-btn:hover {
    background: #895148;
}

.pencil-icon{
    color:#5e96ff;
    margin-left: 5px;
}

#formcontainer {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 3%;
}

.error-message {
    position: absolute;
    display: none; /* Initially set to none */
    color: red;
    font-size: 14px;
    margin-top: 4px; /* Adjust margin as needed */
}