/* Style for all pages */

html {
    height: 100%;
    min-width: 1400px;
}

* {
    box-sizing: border-box;
}

/* body */
body {
    display: block;
    height: 90%;
    background: url('/images/icon.png'), radial-gradient(circle, rgba(219, 230, 230, 0.661) 61%, #c5796d46 92%);
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body.main-body {
    padding:0 10% 0 10%;
}

/* dashboardpage-wrapper */
#dashboardpage-wrapper {
    display: grid;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    /*background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(90.22deg, #DBE6F6 0.19%, #C5796D 99.81%);*/
    background: rgb(219,230,230);
    background: radial-gradient(circle, rgba(219,230,230,0.6376925770308124) 61%, rgba(197, 121, 109, 0.407) 92%);}

/* Style for Header*/

.homepage-header {
    display: grid;
    width: 100%;
    height: 70px;
    grid-template-columns: 1fr 1fr;
}

.homepage-header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 0px 0px 0px 20px;
    gap: 10px;
}

/*Style for the logo button*/
.logo-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: 'Koulen';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    font-weight: 400;
}

/* nav links*/
.nav-link {
    
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #000000;
    height: 100%;
}

.nav-link:hover {
    color: #828282;
}

/* right side of the header*/
.homepage-header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding: 0px 20px 0px 0px;
    gap: 10px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    padding: 0px;
    gap: 10px;
}

input.search-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #E0E0E0;
    padding: 10px;
    /* Button Shadow */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    height: 50%;
    width: 70%;
}

.search-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: fit-content;
    height: 50%;
    background: rgba(0, 0, 0, 0.4);
    /* Button Shadow */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: #FFFFFF;
    border: none;
    padding: 10px;
}
.search-button:hover {
    background-color: #ffffffaf;
    color: rgba(0, 0, 0, 0.4);
}

.greeting-msg {
    display: none;
}

@media screen and (min-width: 1300px){
    .greeting-msg {
        font-family: 'Koulen';
    font-style: normal;
    font-size: 16px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    
    color: #000000;
    }
}


/* Style for the dropdown menu */
.dropdown-menu {
    display: none;
    /* Initially hidden */
    position: absolute;
    top: 50px;
    /* Adjust based on header height */
    right: 0;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    z-index: 1000;
    /* Ensure it appears above other content */
}

/* Style for the links inside the dropdown menu */
.dropdown-menu-list {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-bottom: #8b8b8b;
}

/*Changes link when hovered over*/
.dropdown-menu a:hover {
    background-color: #c5d3d362;
}

/* Style for the user info section */
.user-info {
    display: flex;
    align-items: center;
    position: relative;
    /* To position the dropdown menu correctly */
}

/*Modifies the user icon*/
.user-info .user-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
    object-fit: cover;
    cursor: pointer;
    /* Change cursor to pointer to indicate it's clickable */
}
#user-icon {
    border: 3px solid #36363682;
}
/* Style for content container*/
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 80%;
    gap: 10px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
    padding: 10px;
    padding-bottom: 100px;
}
.divider-line {
    border: 1px solid #00000055;
    width: 100%;
}

/*Footer styling*/

.footer-copy, .footer-link {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: end;
    height: auto;
    font-weight: 700;
    color: #606060;
}

.footer-link {
    padding-top: 0;
    padding-bottom: 20px;
}
a.footer-link {
    text-decoration: none;
    color: #606060;
}

.detail-link {
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.pagination {
    display: flex;
    width: 100%;
    height: 20px;
    align-items: center;
    justify-content: center;
}
  
  .pagination a {
    color: rgb(18, 18, 18);
    float: left;
    padding: 8px 10px;
    text-decoration: none;
  }
  .pagination a:hover {
    background-color: antiquewhite;
  }



